////////////////////////////////////////
//      Font-Family Definitions       //
////////////////////////////////////////

$helvetica= 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$eightbit= '8BIT WONDER';
$twoplayer= 'Press Start 2P';

///////////////////////////////
//      Font Variables       //
///////////////////////////////
$display-font= $helvetica;
$display-font--bold= $helvetica;
$body-font= $helvetica;
$game-font= $eightbit;
$game-font-secondary=$twoplayer;

////////////////////////////
//      Font Mixins       //
////////////////////////////
@font-face {
  font-family: '8BIT WONDER';
  src: url('Styles/Fonts/8BITWONDERNominal.eot');
  src: url('Styles/Fonts/8BITWONDERNominal.eot?#iefix') format('embedded-opentype'),
    url('Styles/Fonts/8BITWONDERNominal.woff') format('woff'),
    url('Styles/Fonts/8BITWONDERNominal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('Styles/Fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

displayFontBold() {
  font-family: $display-font--bold;
  font-weight: 500;
  color: $display-color;
}

displayFont() {
  font-family: $display-font;
  font-weight: 400;
  color: $display-color;
}

bodyFont() {
  font-family: $body-font;
  font-weight: 400;
  color: $body-color;
}

gameFont() {
  font-family: $game-font-secondary;
  font-weight: 400;
  color: $body-color;
}

gameButtonFont() {
  font-family: $game-font-secondary;
  font-weight: 400;
  color: $tertiary;
}

gameTextFont(){
  font-family: $game-font-secondary;
  font-weight: 400;
  color: $tertiary;
}